* {
	margin: 0;
	padding: 0;
}

body {
	width: 85%;
	margin: 0 auto;
	font:  1.0em 'trebuchet ms',arial,sans-serif;
}

#nav {
	margin: 0.5em 0;
	width: 100%;
	padding: 10px 0;
}

#nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
	float: right;
}

#nav li {
	float: left;
	clear: none;
	text-transform: uppercase;
}

#nav li a {
	margin-left: 40px;
	padding-top: 20px;
	display: block;
	text-decoration: none;
	font:  1.1em 'trebuchet ms',arial,sans-serif;
	letter-spacing: -1px;
}

#head {
	margin: 0.5em 0;
	width: 100%;
	line-height: 0.8em;
}

#head h1 {
	font:  5.5em arial,sans-serif;
	margin-top: 50px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	letter-spacing: -0.1em;
	text-transform: uppercase;
	height: 1.15em;
}
#head h1 a {
	text-decoration: none;
}
#head h2, #head .sitetag {
	font:  2.5em 'trebuchet ms',arial,sans-serif;
	margin-top: -0.7em;
	padding: 0;
	margin-bottom: 40px;
	letter-spacing: -0.1em;
}

.main {
	position: relative;
	margin: 50px 0 0 0;
	padding: 0;
	width: 100%;
}

#right {
	width: 24%;
	float: right;
	border-top-width: 5px;
	border-top-style: solid;
	padding-top: 40px;
	text-align: right;
	margin-bottom: 40px;
	margin-right:2px;
}

#right ul, .right2 ul {
	list-style: none;
	margin: 0 0 20px 0;
	padding: 0;
}

#right li, .right2 li, .sidehead a {
	padding: 0 0 0 20px;
}

#right li a, .right2 li a, .sidehead a, #right dd a, .right2 dd a, .sidehead dd a {
	padding: 0 0 0 20px ;
	font-size: 0.9em;

}

#right dl {margin-top: 10px;margin-bottom: 10px;}
#right dt {
	float:none;
	width:100%;
	text-align:right;
	padding-right: 25%;
}
#right dd {display:block;}

#content {
	float: left;
	width: 69%;
	border-top-width: 5px;
	border-top-style: solid;
	padding-top: 40px;
	margin-bottom: 40px;
}
/*h2 { clear: both; }*/
h2, #content h2.page-head a {
	font: 1.4em arial,sans-serif;
	letter-spacing: -0.1em;
	margin-bottom: 0;
	text-transform: uppercase;
}
h3 {
	font:  1.2em 'trebuchet ms',arial,sans-serif;
	margin-top: -0.4em;
	padding-top: 0px;
	letter-spacing: -1px;
}

h4, p.sidehead, h4 a, p.sidehead a {
	font:  1.2em arial,sans-serif;
	letter-spacing: -0.1em;
	margin-bottom: 10px;
	text-transform: uppercase;
}

p {
	line-height: 1.8em;
	margin: 10px 0 20px 0;
}


#content a, #content2 a, #foot a, .blogit-listmore a, #right a {
	text-decoration: none;
}

#content a:hover, #content2 a:hover, #foot a:hover, .blogit-listmore a:hover, #right a:hover {
	border-bottom: none;
}

img.content, a img.content {
	float: right;
	padding: 4px;
	border-width: 1px;
	border-style: solid;
	margin: 10px 0 10px 10px;
}
a:hover img.content {
	border-width: 1px;
	border-style: solid;
}

img.color, a img.color {
	float: left;
	padding: 1px;
	border-width: 1px;
	border-style: solid;
	margin: 0 8px 0 0;
}

a:hover img.color {
	border-width: 1px;
	border-style: solid;
}

.right2 {
	float: right;
	width: 160px;
	margin-left: 15px;
	padding-top: 40px;
	border-top-width: 5px;
	border-top-style: solid;
	text-align: right;
	font-size: 0.9em;
}
.right2 h3 {
	letter-spacing: -1px;
}

#content2 {
	margin-right: 365px;
	border-top-width: 5px;
	border-top-style: solid;
	padding-top: 40px;
}
ol {
	/*color: #AAA;*/
	font:  1.0em arial,sans-serif;
	padding: 10px;
}

ol span {
	font:  1.0em 'trebuchet ms',arial,sans-serif;
	font-style: normal;
}

ol li {
	margin-left: 25px;
	padding: 4px 0
}

#content ul, #content2 ul {
	list-style-type: none;
	padding: 10px;
}

#content ul li, #content2 ul li {
	padding-left: 17px;
	margin-left: 10px;
}


table {
	width: 100%;
	margin-bottom: 20px;
	font-size: 1em;
	border-collapse: collapse;
}

table caption {
	margin-top: 20px;
	padding: 0 0 0.5em 3px;
	font:  1.2em arial,sans-serif;
	text-align: left;
	letter-spacing: -1px;
}

table th, table td {
	/*text-align: left;*/
	vertical-align: top;
	padding: 4px 7px !important;
	padding: 6px 10px;
}


thead th {
	border-top-width: 2px;
	border-top-style: solid;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

tbody td {
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

.blockquote, #wikitext .escaped {
	width: 100%;
	border-top-width: 1px;
	border-top-style: solid;
	border-bottom-width: 1px;
	border-bottome-style: solid;
	margin: 10px 0 20px 10px;
	padding: 5px;
	font-style: italic;
}
body.dark .blockquote, body.dark #wikitext .escaped {
	border-top-width: 1px;
	border-top-style: solid;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

form label{
	display:block;
}

form input.inputbox, form input.text, form textarea, input[type=text]{
	border-width:1px;
	border-style: solid;
	padding:4px 5px;
	font:12px Arial,san-serif;
}
form textarea{
	width:100%;
}
form input.text:hover, form textarea:hover, form input[type=text]:hover{
	border-width:1px;
	border-style:solid;
}

form input.text:focus, form textarea:focus, form input[type=text]:focus{
	border-width:1px;
	border-style:solid;
}

form input.button, form input.inputbutton, form input[type=submit]{
	margin-right:8px;
	padding:3px 5px;
	font:12px Arial,san-serif;
	border-width:1px;
	border-style:solid;
}

#foot {
	width: 100%;
	border-top-width: 3px;
	border-top-style: solid;
	padding: 0 0 40px 0;
	margin-top: 40px;
	clear: both;
}


body div.indent {
	margin-left:40px;
	margin-right:40px;
}
body.dark div.indent {
	margin-left:40px;
	margin-right:40px;
}


/* -- Style Additions */
.alignleft {float:left;}
.alignright {float:right;}

/* -- PmWiki */
#content a.pagegroup, #content h1.page-head a, #content h2.page-head a {border: none;}
#nav a.createlink { display: none; }
#foot p {float: left;}
#foot p.credits {float: right;}
.indent { margin-left:40px;}
.outdent { margin-left:40px; text-indent:-40px; }
#s { width: 50%; }
fieldset { border: none; }
#comment-text { margin-top: 25px; }
#wikitext .escaped { overflow: auto; height: auto; width: 90%; margin: 1.5em auto; padding: .15em; }
#wikitext .quickref p, #wikitext .quickref .outdent, #wikitext .quickref div, #wikitext .quickref strong {font-size:1em; margin:0; text-align:left; text-indent:0; line-height: 2em}
#wikitext hr {border-width:2px;border-style: solid; margin:2em 0}
#wikiedit, #wikiedit form input[type=submit] { margin-top: 25px; }
#wikiedit #text { margin-bottom: 25px; }
#wikiedit form a { border: none; }
.wikimessage {color: red; font-weight: bold; font-size: 110%; }
.difftype, .diffrestore { clear: none !important; }
.sidehead a { text-decoration: none; font-size: 1em !important; }
#right .pageactions li { padding: 1px 0 0 20px; }
a.createlink { padding: 0 !important; position:relative; top:-0.5em; font-size:.8em !important; }
.quickref p { margin:0; padding:0;}
.quickref br { display: none; }

/* -- BlogIt */
.metadata { margin-top: -.3em; height: 2.5em; font-size: .8em; }
.date { float: left; margin-top: -.3em; text-transform: uppercase; font:  1.7em 'trebuchet ms',arial,sans-serif; padding-top: 0px; letter-spacing: -1px; }
.author { float: left; margin-left: 6px; }
.author a { margin-top: 1px;}
.entry-content { clear: left; }
.entrytags, .comment-count, .editlink { float: right; text-transform: lowercase; }
.editlink { margin-left: 20px; }
.blogit-listmore { margin-top: -20px; margin-bottom: 20px; }
li.comment { margin-top: 10px; }
#head .sitetitle a { display: block; }
.entry { clear: both; }
.page-navigation { margin: 20px 0; padding: 20px 0 40px; font-weight: bold; }
.blogit-previous-entries a { float: left; padding-left: 18px; background: url('img/mini-nav-left.gif') no-repeat left center; }
.blogit-next-entries a { float: right;	padding-right: 18px;	background: url('img/mini-nav-right.gif') no-repeat right center; }
#commentblock { padding-top: 60px; }
dl {margin-top: 10px;margin-bottom: 10px;}
dt {float:left;;width:25%;text-align:left;}
dd {display:block;padding-left: 25%;}
